@import "tailwindcss";

@theme {
  --font-sans: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Integrale CF', ui-sans-serif, system-ui, sans-serif;
  --color-brand-black: #000000;
  --color-brand-gray-dark: #666666;
  --color-brand-gray-light: #F0F0F0;
}

@font-face {
  font-family: 'Integrale CF';
  src: url('https://fonts.cdnfonts.com/s/77402/IntegraleCF-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://fonts.cdnfonts.com/s/73916/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://fonts.cdnfonts.com/s/73916/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
  font-weight: 800;
  text-transform: uppercase;
}

.stars {
  display: inline-flex;
  gap: 2px;
  color: #FFC633;
}
